@import './variables';


#why_us {
    background: linear-gradient(180deg, #020002 52.5%, rgba(239, 37, 113, 0.9) 100%);
    height: 389px;
    text-align: center;
    height: 60vh;

    h1 {
        @include glow_text();
        font-size: 60px;
        text-align: center;
    }

    p {
     @include why_us();
     text-align: center;
     font-size: 15px;
    }

    i{
        color: $pink_for_small_text;
        font-size: 60px;
        text-align: center;
        margin-left: 55px;
    }

    i:hover{
     color: $glowly_green;
     cursor: pointer;
    }

}
